__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

.git*
.poetry
.vscode
.dockerignore
Dockerfile
*.md
.mypy*
.pylint*
.pypirc*
scripts
config

other
env_linux_3.9
env_linux_3.10
env_linux_3.11
env_mohsen-invent_linux_3.10
env_fes-local_linux_3.11
env_fesen-cs_linux_3.10
env_fesen-cs_linux_3.11
